<%- include('./includes/header.ejs') %>
<%- include('./includes/navigation.ejs') %>
<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_Product_carousel">
                    <% for( Image of Product.Images) { %>
                        <div class="single-prd-item">
                            <img class="img-fluid"  src="../productImages/<%=Image%>" alt="">
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3><%=Product.Name%></h3>
                    <h2>Rs.<%=Product.SellingPrize%></h2>
                    <h6 class="text-secondary"><s>Rs.<%=Product.CostPrize%></s></h6>
                    <ul class="list">
                        <li><a href="#"><span>Category : </span><%=Product.Category%></a></li>
                        <%if(Product.Quantity==0){%>
                        <li><a href="#"><span>Availibility : </span><span class="text-danger"> Out of stock</span></a></li>
                            <%} else if(Product.Quantity<=5) { %>
                        <li><a class="" href="#"><span>Availibility : </span><span class="text-warning"> <%=Product.Quantity%> stock Left</span></a></li>
                            <%} else { %>
                        <li><a class="" href="#"><span>Availibility : </span><span class="text-success"> In Stock</span></a></li>
                            <% } %>
                        <li class="mt-5"><a href="#"><span>Description : </span></a></li>
                    </ul>
                    
                    <pre style="font-family: Arial, Helvetica, sans-serif; font-size: small;"><%=Product.Description%></pre>
                    <div class="product_count mt-4">
                    <form>

                        
                        <label for="qty">Quantity:</label>
                        <input type="text" name="quantity" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                         class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 1 ) result.value--;return false;"
                         class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                    </div>
                    
                    <div class="card_area d-flex align-items-center">
                        <a onclick="addtoCart('<%=Product._id%>','<%=Product.Name%>','<%=Product.SellingPrize%>','<%=Product.Images[0]%>')"class="primary-btn text-light">Add to Cart</a>
                        <a class="icon_btn" onclick="addtoWishlist('<%=Product._id%>','<%=Product.Name%>','<%=Product.SellingPrize%>','<%=Product.Images[0]%>')"><i class="lnr lnr lnr-heart"></i></a>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->
<script>
    function addtoWishlist(Id, Name, sellingPrice, image) {
        $.ajax({
          url:
            "/addToWishlist/?productId=" +
            Id +
            "&productName=" +
            Name +
            "&price=" +
            sellingPrice +
            "&images=" +
            image,
          method: "get",
          success: (Response) => {
            if (Response.status==true) {
              const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener("mouseenter", Swal.stopTimer);
                  toast.addEventListener("mouseleave", Swal.resumeTimer);
                },
              });

              Toast.fire({
                icon: "success",
                title: "Product added to wishlist",
              });
            }else if(Response.status==false){
                const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener("mouseenter", Swal.stopTimer);
                  toast.addEventListener("mouseleave", Swal.resumeTimer);
                },
              });

              Toast.fire({
                icon: "error",
                title: "Product Already Exist",
              }); 
            }else{
                location.href='/login'
            }
          },
        });
      }
      function addtoCart(Id, Name, sellingPrice, image) {
        let quantity= document.getElementById('sst').value
        $.ajax({
          url:
            "/addToCart/?productId=" +
            Id +
            "&productName=" +
            Name +
            "&price=" +
            sellingPrice +
            "&images=" +
            image + "&quantity=" + quantity,
          method: "get",
          success: (Response) => {
            if (Response.status==true) {
              const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener("mouseenter", Swal.stopTimer);
                  toast.addEventListener("mouseleave", Swal.resumeTimer);
                },
              });

              Toast.fire({
                icon: "success",
                title: "Product added to Cart",
              });
            }else if(Response.status==false){
                const Toast = Swal.mixin({
                toast: true,
                position: "top-end",
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                  toast.addEventListener("mouseenter", Swal.stopTimer);
                  toast.addEventListener("mouseleave", Swal.resumeTimer);
                },
              });

              Toast.fire({
                icon: "error",
                title: "Product Already Exist",
              }); 
            }else{
                location.href='/login'
            }
          },
        });
      }
</script>

<%- include('./includes/footer.ejs') %>
